<header class="header">
    <div class="header-start">
        <div class="logo">
            <img src="logo.png" alt="Logo" />
        </div>
        <nav class="nav">
            <ul>
                <li><a routerLink='/' routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                <li><a routerLink='/products' routerLinkActive="active-link">Produtos</a></li>
                <li><a routerLink='/about' routerLinkActive="active-link">Sobre</a></li>
                <li><a routerLink='/contact' routerLinkActive="active-link">Contato</a></li>
            </ul>
        </nav>
    </div>
    <div class="actions">
        <span title="Carrinho" class="material-icons btn-icon">shopping_cart</span>
        <span title="Login" class="material-icons btn-icon">person</span>
    </div>
</header>
