<header class="header">
    <div class="header-start">
        <div class="logo">
            <img src="logo.png" alt="Logo" />
        </div>
        <nav class="nav">
            <ul>
                <li><a routerLink='/products' routerLinkActive="active-link">Produtos</a></li>
            </ul>
        </nav>
    </div>
    <div class="actions">
        <a routerLink='/cart' routerLinkActive="active-link" >
            <span title="Carrinho" class="material-icons btn-icon">shopping_cart</span>
        </a>
        <span title="Login" class="material-icons btn-icon">person</span>
    </div>
</header>
