<div class="container" *ngIf="cart.length > 0">
    <h2>Meu carrinho</h2>
    <div class="products" *ngFor="let cartItem of cart">
        <div class="product">
            <div class="product-image" (click)="goToProduct(cartItem.product)">
                <img [src]="cartItem.product.image" [alt]="cartItem.product.title" />
            </div>
            <div class="product-details">
                <h3>{{ cartItem.product.title }}</h3>
                <p>Price: R$ {{ cartItem.product.price }}</p>
            </div>
            <div class="product-actions">
                <div class="quantity-container">
                    <button class="btn-quantity" (click)="decrementQuantity(cartItem)"><span class="material-icons"> remove </span></button>
                    <span class="quantity">{{ cartItem.quantity }}</span>
                    <button class="btn-quantity"><span class="material-icons" (click)="encrementQuantity(cartItem)"> add </span></button>
                </div>

                <button class="btn-danger" (click)="removeFromCart(cartItem)">
                    <span class="material-icons"> delete </span>
                    Remover
                </button>

            </div>
        </div>
    </div>
    <div class="subtotal">
        <h3>Subtotal ({{ cart.length }} produtos): R$ {{cartSum.toFixed(2)}}</h3>
        <button class="btn-danger" (click)="clearCart()">
            <span class="material-icons">delete_sweep</span>
            Limpar carrinho
        </button>
    </div>    
</div>
<div class="empty-cart" *ngIf="cart.length === 0">
    <div class="empty-content">
        <span class="material-icons empty-icon">shopping_cart</span>
        <h2>Seu carrinho está vazio</h2>
        <p>Adicione produtos para começar sua compra.</p>
        <a (click)="goToProducts()" class="btn-empty-cart">Ver produtos</a>
    </div>
</div>