<div class="container" *ngIf="product">
    <div class="actions">
        <a routerLink="/products" class="btn-voltar">
            <span class="material-icons icon">arrow_back</span>
            Voltar
        </a>
    </div>

    <div class="product-container">
        <div class="col">
            <img class="product-image" [src]="product?.image" [alt]="product?.title">
        </div>
        <div class="col">
            <div class="row">
                <h3 class="product-title">{{ product?.title }}</h3>
                <p>{{product?.description}}</p>
                <p>{{product?.category}}</p>
                <p [title]="product.rating?.rate"><app-star-rating [rating]="product?.rating"></app-star-rating></p>
                <p>R$ {{product?.price?.toFixed(2)}}</p>
            </div>
        </div>
    </div>
</div>
