
.container {
    margin: 0 auto;
    padding: 16px;
}

img.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain; 
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #f9f9f9; 
    display: block;
    padding: 8px; 
}

.product-title {
    font-size: 18px; 
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    line-clamp: 1; 
    text-overflow: ellipsis; 
}

.container p:last-of-type {
    font-weight: 600;
    color: #e63946; 
    margin-top: 16px;
}
